.Banner {
  width:90%;
height:90vh;
position:relative;

}
.banner-row{

  width:100%;
  height:80vh;
  margin:1em auto;
}

.left-section {
  padding: 10px;
  text-align: left;
}
.banner-top-heading {
  margin: 40px 20px;
  opacity: 0.6;
  font-weight: 100;
}
.banner-main-heading {
  font-size: 3.5em;
  width: 70%;
  line-height: 1.6em;
  text-align: center;
  margin: 10px auto;
  text-decoration: underline 5px solid #00d747;
}
.banner-btn {
  width: 10em;
  height: 3em;
  background: #00d747;
  border: none;
  margin: 10px auto;
  border-radius: 40px;
  transition: 0.5s;
  position: relative;
  left: 6em;
}
.btn:hover {
  color: #00d747;
  background: #fff;
}
.right-section {
  box-sizing: border-box;
  position: relative;

}
.banner-img {
  max-width:35em;

}
@media (max-width: 1400px) {
  .Banner {
    width:90%;
  height:50vh;

  }
  .banner-row{

    width:100%;
    height:50vh;

  }
  .banner-img {
    width: 25em;
  }



  .right-section {
    display: flex;
    display:flex;
    align-items: flex-start;
  }
  .banner-main-heading {
    width: 80%;
    font-size: 1.5em;
  }
}
@media (max-width: 1000px) {
  .banner-img {
    width: 20em;

  }
  .Banner {
    width:90%;
  height:70vh;

  }
  .banner-row{

    width:100%;
    height:70vh;
    margin:1em auto;
  }

  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-main-heading {
    width: 100%;
    font-size: 2.3em;
  }
}
@media (max-width: 800px) {
  .banner-img {
    width: 20em;


  }
  .Banner {
    width:90%;
  height:90vh;

  }
  .banner-row{

    width:100%;
    height:80vh;
    margin:1em auto;
  }



  .banner-top-heading {
    margin: 30px 10px;
    opacity: 0.4;
    font-weight: 100;
  }
  .banner-main-heading {
    font-size: 2em;
    width: 70%;
    line-height: 1.6em;
    text-align: center;
    margin: 10px auto;
    text-decoration: underline 5px solid #00d747;
  }
  .banner-btn {
    width: 10em;
    font-size: 10px;
  }
}
@media (max-width: 385px) {

  .banner-img {
    width: 15em;
  }
  .Banner-row{
    height:80vh;
  }
  .banner-main-heading {
    width:100%;
  }
  .Banner {
    width:90%;
  height:90vh;

  }

  .banner-row {
    height: 60vh;
  }
  .banner-btn {
    width: 12em;
    font-size: 8px;
  }
}
